@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
.maintitle {
    text-transform: uppercase;
    line-height: 1em;
    font-size:3em;
    font-weight: normal;
    background: #bb5151;
    font-family: "Tinos", sans-serif;
    border: 4px dotted black;
    margin-bottom: -7px;
    padding: 10px;
    text-align:  center;
}
.subtitle {
    color: #d03535;
    font-family: "Tinos", sans-serif;
    border: 4px inset black;
}
p {
    font-style: italic;
    font-family: "Tinos", sans-serif;

    text-align:  center;
    border: 4px inset black;
    background: #e0dada;
}
section {
    background-color: #bbb;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.menu {
    background-color: #333;
    padding: 10px;
    text-align: center; /* Выравнивание текста по центру */
    justify-content: center;
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    width: 400px;
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}
h2 {
    font-family: "Tinos", sans-serif;
}
h3 {
    text-decoration: underline;
    font-family: "Tinos", sans-serif;
    text-align: center;
    word-spacing: 0.1em;
}
article {
    font-family: "Tinos", sans-serif;
    text-align: center;
    text-indent: 2em;
}
.text {
    text-align:  center;
    width: 100%;
    margin-left: 150%;
    margin-right: 300%;
    padding: 5px;
    font-weight: bold;
}
.center {
    text-align:  center;
}
.right {
    text-align:  right;
}
.left {
    text-align:  left;
}
.background_page {
    background-color: rgb(180, 180, 180);
}
.shadow {
    filter: drop-shadow(0 0 0.75rem crimson);
}
.grid-table {
    display: grid;
    border-collapse: collapse;
    width: 97%;
    grid-template-columns:
            minmax(300px, 2fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr);
}
.grid-cell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #c23131;
    border-radius: 20px 5px;
    text-align: center;
    background-color: #9b2343;
    }
.navbar-item {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.navbar-item a {
    color: black;
    text-decoration: none;
}
.navbar-item a:hover {
    border-radius: 20px 5px;
    background-color: #c23131;
}
.navbar li#active{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}
@media screen and (max-width: 600px) {
    /* Скрытие рекламного баннера на маленьких экранах */
    .ad-banner {
        display: none;
    }

    /* Закрепление строки меню */
    .menu {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
    }

    /* Изменение стилей для мобильных устройств */
    .main {
        grid-template-columns: 1fr;
        margin-top: auto; /* Внизу на маленьких экранах */
        flex-direction: column; /* Элементы в колонке */
    }
    section {
        flex-direction: column; /* Располагаем элементы в ряд на больших экранах */
        align-items: center; /* Выравниваем элементы по центру */
    }
}
